.box {
  width: 50%;
  border: 1px solid black;
  padding: 5% 30%;
  font-size: 150%;
  margin-top: 50px;
}
div {
  height: 200px;
  border: 3px solid black;
}
.red {
  background-color: red;
  position: relative;
  top: 55px;
  right: 75px;
}
.absolute {
  background-color: rgb(125, 135, 180);
  position: absolute;
  width: 50%;
  top: 55%;
  left: 55%;
  box-sizing: border-box;
}
.child {
  background-color: blue;
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0%;
  left: 50%;
}
.fixedbottom {
  position: fixed;
  bottom: 0;
  left: 55%;
  width: 30%;
  height: 30%;
}
.sticky {
    background-color:blueviolet;
    position: sticky;
    top: 50%;
    width: 35%;
    box-sizing: border-box;
}